@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

@media screen and (max-width: 768px) {

  .nav {
    display: none;
  }

  .head_text h1 {
    font-size: 70px;
  }

  .play {
    width: 11%;
    margin-top: 600px;
  }
  
  .content {
    flex-wrap: wrap;
  }

  .content div {
    width: 50%;
    height: 50%;
  }

  .content .picture h6 {
    font-size: 14px;
  }

  .content .picture p {
    font-size: 14px;
  }

  footer ul {
    width: 46%;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  
    .head_text h1 {
      font-size: 50px;
    }

    .head_text p {
      font-size: 11px;
    }

    button {  
      font-size: 10px;
      padding:0 25px;
      line-height: 25px;
      height: auto;
      display: inline-block;
      
    }

    .play {
      width: 10%;
      margin-top: 200px;
    }
    
    .content {
      flex-wrap: wrap;
    }
  
    .content div {
      width: 50%;
      height: 50%;
    }
  
    .content .picture h6 {
      font-size: 10px;
    }
  
    .content .picture p {
      font-size: 10px;
    }
  
    footer ul {
      width: 46%;
      text-align: center;
    }
  }