html, body {
  margin: 0;
  padding: 0;
}

.head {
  background-image: url(img/Layer-6.jpg);
  background-size: cover;
  width: auto;
  min-height: 100vh;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
}

/* NAVBAR */

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;  
  
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

/* END NAVBAR */

/* LOGO + ICON */

.icon {
  cursor: pointer;
}

.search {
  padding-right: 20px;
}

/* END LOGO + ICON */

.head_text {
  text-align: center;
  color: white;
}

.head_text h1 {
  font-size: 100px;
  margin: 265px 0 0 0;
}

.head_text p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

button {
  border:none;
  background: #DA7074;
  color: white;
  border-radius: 16px;  
  font-size: 14px;
  text-decoration: none;
	padding:0 35px;
	line-height: 32px;
	height: auto;
	display: inline-block;
	text-align: center;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
}

.play {
  cursor: pointer;
  width: 82px;
  margin-top: 200px;
}

.content {
  display: flex;
}

.content img {
  width: 25%;
  height: 100%;
}

.picture {
  background-size: cover;
  background-position: center;
  width: 25%;
  height: 500px;
}

.picture1 {
  background-image: url(img/Layer-111.jpg);
}

.picture2 {
  background-image: url(img/Layer-81.jpg);
}

.picture3 {
  background-image: url(img/Layer-91.jpg);
}

.picture4 {
  background-image: url(img/Layer-10.jpg);
}

.picture h6 {
  margin-top: 345px;
  text-align:  center;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.picture p {
  text-align:  center;
  font-size: 18px;
  font-style: italic;
  color: white;
}

/* FOOTER */

footer {
  height: 285px;
}

footer h3 {
  text-transform: uppercase;
  color: black;
  font-style: normal;
  font-family: "Montserrat", sans-serif;  
}

footer ul {
  float: left;
  width: 23%;
  padding: 50px 1%;
  list-style-type: none;
  margin: 0;
}

footer li {
  font-size: 14px;
  font-family: "Georgia";
  font-style: italic;
  color: #777;  
}

footer a {
  text-decoration: none;
  color: inherit;
}

/* END FOOTER */

  .copyright {
    text-align: center;
    color: #585858;
    background: black;
    height: 96px;
  }

  .copyright p {
    margin: 0;
    padding-top: 40px;
  }